h1 {
  margin-left: 18px;
  font-size: 90px;
}

header {
  background-color: gold;/*
  border-style: dashed;*/
}

section {
  margin-left: 18px;
  margin-right: 18px;
}

nav {
  float: left;
  margin-left: 18px;
  margin-right: 18px;
  font-size: 20px;
  margin-bottom: 2px;

}

h3 {
  float: left;
  text-align: left;
  margin-left: 18px;
  font-size: 18px;
}

h4{
  float: left;
  text-align: left;
  margin-left: 18px;
}

p {
  float: left;
  text-align: left;
  margin-left: 18px;
}

ul {
  float: left;
  text-align: left;
}

.left_list {
  text-align: left;
}

.maps_left{
  width: 55%;
}

.maps_center {

}

aside {
  float: right;
  width: 40%;
  height: 500px;
  align-items: right;
  align-content: right;
  align-self: right;
}
