body {
  width: 100%;
  margin: 0;
  background: #0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  background: #002547;
  font-family: 'Lato', sans-serif;
}

header {
  background: #002547;
  font-family: 'Lato', sans-serif;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  cursor: pointer;
  padding-top: 5px;
  margin-left: 5%;
  padding-bottom: 5px;
  margin-right: 5%;
}

.end {
  margin-right: 5px;
}


nav {
  background: #002547;
  font-family: 'Lato', sans-serif;
  width: auto;
}

nav ul {
  background: #002547;
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

nav li {
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 19px;
  margin-left: 0%;
  margin-right: 7%;
  position: relative;
}

nav ul > li > a {
  color: #ff5c00;
  text-decoration: none;
  font-size: 16.2px;
}

nav ul > li > a:hover {
  color: #b5b3b3;
}

nav ul > li > a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ff5c00;
  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 170ms;
}

nav ul > li > a:hover::before {
  width: 100%;
}

aside {
  float: right;
  width: 40%;
  height: 500px;
  align-items: right;
  align-content: right;
  align-self: right;
}

h3 {
  text-align: left;
  margin-left: 18px;
  font-size: 18px;
}

h4{
  text-align: left;
  margin-left: 18px;
}

p {
  text-align: left;
  margin-left: 18px;
}

h1 {
  margin-left: 18px;
  font-size: 40px;
}

.left_list {
  text-align: left;
}

.maps_left{
  width: 55%;
}

.maps_center {

}

.right_text {
  width: 63%;
}

.right_main_image{
  width: 30%;
  height: 400px;
}

.main_page_p {
  font-size: 20px;
}
