body {
  margin: 0;
  background: #0;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background: #002547;
  font-family: 'Lato', sans-serif;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 7px 0;
  cursor: pointer;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 79px;
  padding-top: 19px;
  position: relative;
}

nav ul > li > a {
  color: #ff5c00;
  text-decoration: none;
  font-size: 16.2px;
}

nav ul > li > a:hover {
  color: #b5b3b3;
}

nav ul > li > a::before {
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ff5c00;
  position: absolute;
  top: 0;
  width: 0;
  transition: all ease-in-out 170ms;
}

nav ul > li > a:hover::before {
  width: 100%;
}

aside {
  float: right;
  width: 40%;
  height: 500px;
  align-items: right;
  align-content: right;
  align-self: right;
}
